- bottom_hidden ||= false

= render layout: 'shared/lapse', locals: { html_class: 'profile-heading' } do
    %div.content
        = image 'profile_mock.jpg'
        %div.content
            %h1.text-m.stroke.white= some_user_name(@user)
            = shared 'bullet_list', { items: ["#{@user.followers_count} подписчиков", "#{@user.followings_count} подписок"], html_class: 'white' }
            - if current_user == @user
                = shared 'button', { size: 'xs', color: 'white', hollow: true, text: main_text, link: main_link, top: true, html_class: 'main-action' }
                - unless bottom_hidden
                    = shared 'button', { size: 'xs', color: 'white', textonly: true, text: 'выйти', method: :delete, link: destroy_session_path(@user), top: true }
            - elsif current_user
                - if current_user.following?(@user)
                    = shared 'button', { method: :delete, no_confirm: true, size: 'xs', color: 'white', hollow: true, text: 'отписаться', link: following_url(@user.id), html_class: 'main-action' }
                - else
                    = shared 'button', { method: :post, no_confirm: true, size: 'xs', color: 'white', hollow: true, text: 'подписаться', link: followings_url(id: @user.id), html_class: 'main-action' }
    %div.fill
