= render layout: 'shared/lapse', locals: { html_class: 'profile-heading' } do
    %div.content
        = image_tag 'profile_mock'
        %div.content
            %h1.text-m.stroke.white= some_user_name(@user)
            = shared 'bullet_list', { items: ['256 подписчиков', '12 подписок'], html_class: 'white' }
            - if current_user == @user
                = shared 'button', { size: 'xs', color: 'white', hollow: true, text: 'настройки профиля', link: edit_user_registration_url, html_class: 'main-action' }
                = shared 'button', { size: 'xs', color: 'white', textonly: true, text: 'выйти', method: :delete, link: destroy_session_path(@user) }
            - elsif current_user
                - if current_user.following?(@user)
                    = shared 'button', { method: :delete, no_confirm: true, size: 'xs', color: 'white', hollow: true, text: 'отписаться', link: following_url(@user.id), html_class: 'main-action' }
                - else
                    = shared 'button', { method: :post, no_confirm: true, size: 'xs', color: 'white', hollow: true, text: 'подписаться', link: followings_url(id: @user.id), html_class: 'main-action' }
    %div.fill
