%turbo-frame.profiles-edit.container{id: qualify(@user)}
  = notification
  %div.info-block
    = render partial: 'users/profiles/profile_heading', locals: { main_text: t('users.profiles.common.back_to_profile'), main_link: my_profile_path }

  %div.settings-block
    = render partial: 'users/profiles/profile_settings_heading'
    = form_for @user, url: users_single_profile_url(@user.id) do |f|
      = f.label :first_name, t('users.profiles.edit.first_name_label')
      = shared 'input', { html_class: 'blue', placeholder: t('users.profiles.edit.first_name_placeholder'), form_field: :first_name, form: f, value: @user.first_name }
      = f.label :last_name, t('users.profiles.edit.last_name_label')
      = shared 'input', { html_class: 'blue', placeholder: t('users.profiles.edit.last_name_placeholder'), form_field: :last_name, form: f, value: @user.last_name }
      = f.label :username, t('users.profiles.edit.username_label')
      = shared 'input', { html_class: 'blue', placeholder: t('users.profiles.edit.username_placeholder'), form_field: :username, form: f, value: @user.username }
      = f.label :profile_picture, t('users.profiles.edit.profile_picture_label')
      = shared 'file_button', { label: :profile_picture, fields: f, selected: @user.profile_picture.attached?, delete_param: 'delete-picture', id: @user.id, html_class: 'file-button' }
      = shared 'button', { text: t('users.profiles.edit.save_changes'), form: f, advance: true, size: 's', html_class: 'save-button' }
