%turbo-frame.profiles-followers.container{id: qualify(@user)}
  = notification
  %div.info-block
    = render partial: 'users/profiles/profile_heading', locals: { main_text: t('users.profiles.common.back'), main_link: users_single_profile_path(@user) }

  %div
    %h1.text-l.stroke.heading= t('users.profiles.followers.heading')
    %div.followers-block
      - if @followers.empty?
        %p.text-s.stroke= t('users.profiles.followers.empty_state')
      - else
        - @followers.each do |follower|
          = shared 'profile_preview', { profile: follower }
