<%= form_with(
      scope: :passkey,
      url: users_passkeys_url,
      method: :post,
      id: :"add-passkey-form",
      data: {
        "reauthentication_challenge_url": new_user_reauthentication_challenge_url,
        "reauthentication_token_url": user_reauthentication_url,
        "reauthentication_token_field_name": "passkey[reauthentication_token]",

        "challenge_url": new_create_challenge_users_passkeys_url,
        "credential_field_name": "passkey[credential]"
      }
) do |f| %>
  <h2>Add a passkey</h2>

  <fieldset id='new-passkey-fields' >
    <table>
      <tr>
        <th><%= f.label :label %></th>
        <td><%= f.text_field :label, autofocus: "off", required: true %>
      </tr>
    </table>
    <%= f.hidden_field :credential %>

    <button type="submit"><%= image_tag("passkey-black.svg", width: "25", height: "25") %> Add passkey</button>
  </fieldset>
<% end %>


<script type="module">
  import {submitFormEvent} from 'registration_form'

  document.querySelector('#add-passkey-form').addEventListener('submit', submitFormEvent)
</script>