- link ||= nil
- size ||= 's'
- color ||= 'black'
- html_class ||= nil

- hollow ||= false
- textonly ||= false
- no_confirm ||= false
- top ||= false
- advance ||= false
- no_preload ||= false

- method ||= nil

- tag = link ? 'a' : 'button'
- final_class = cn('shared-button', size, html_class, color, hollow ? 'hollow' : nil, textonly ? 'textonly' : nil)

- if !method.nil?
	= button_to link, method: method, class: final_class, form: { data: { turbo_confirm: no_confirm ? nil : 'Вы уверены?', turbo_frame: top ? '_top' : nil }, id: "#{method}-form" } do
		%p.stroke{class: "text-#{size}"}= text
- else
	= content_tag tag, { href: link, type: defined?(form) ? 'submit' : nil, data: { turbo_action: advance ? 'advance' : nil, turbo_prefetch: no_preload ? false : nil, turbo_frame: top ? '_top' : nil }, class: final_class } do
		%p.stroke{class: "text-#{size}"}= text
