- profile_title ||= nil
- profile_subtitle ||= nil
- profile_picture ||= nil

- all_photos = lifetime.all_photos

%a.shared-lifetime-card{href: single_lifetime_url(lifetime), data: { turbo_frame: '_top', turbo_prefetch: 'false' }}
    %div.upper
        %p.text-m= lifetime.title
        - if lifetime.private?
            = shared 'icon', { name: 'lock' }
    %div.center
        %div.asset
            - asset_1 = all_photos[0]
            - if asset_1
                = image_tag asset_1
        %div.asset
            - asset_2 = all_photos[1]
            - if asset_2
                = image_tag asset_2
        %div.asset
            = shared 'points', { column: true, text_start_point: lifetime.start_point || '', text_finish_point: lifetime.finish_point || '' }
    %div.lower
        - if profile_picture && profile_title && profile_subtitle
            = shared 'profile_preview', { image: profile_picture, title: profile_title, subtitle: profile_subtitle }
        %div.stats
            %div
                = shared 'icon', { name: 'heart', size: 's' }
                %p.text-s= lifetime.like_count
            %div
                = shared 'icon', { name: 'eye', size: 's' }
                %p.text-s= lifetime.view_count
