.logo-frame-partial
    %div
        = image_tag 'L.svg', class: 'L'
        = image_tag 'A.svg', class: 'A'
        = image_tag 'P.svg', class: 'P'
    %div
        = image_tag 'S.svg', class: 'S'
        = image_tag 'Circle.svg', class: 'Circle'
        = image_tag 'E.svg', class: 'E'