.shared-logo-frame
    %div
        = image 'L.svg', class: 'L'
        = image 'A.svg', class: 'A'
        = image 'P.svg', class: 'P'
    %div
        = image 'S.svg', class: 'S'
        = image 'Circle.svg', class: 'Circle'
        = image 'E.svg', class: 'E'