- footer ||= false

- motto = footer ? 'everything is fragile' : 'everything is temporary'

.shared-nav{class: footer ? 'footer' : nil}
    %div.left
        %a.wrapper{href: root_path}
            = shared 'raw_svg', { src: footer ? 'lapse_d.svg' : 'lapse_b.svg', html_class: 'logo' }

    %div.center
        %p.text-s.stroke.lightblue= motto

    %div.right
        - if footer
            %div.locales
                = top_link_to 'ru', set_locale_url(locale: :ru), class: 'text-s lightblue stroke'
                = top_link_to 'en', set_locale_url(locale: :en), class: 'text-s lightblue stroke'
        - else
            = link_to t('.create'), new_lifetime_path, class: 'text-s stroke'
            = link_to t('.explore'), my_profile_path, class: 'text-s stroke'
            = link_to 'Saved', saved_lifetimes_path, class: 'text-s stroke'
            = link_to t('.profile'), my_profile_path, class: 'text-s stroke'
