.common-pages-index.container
    = notification
    %div.lapse-block
        = render layout: 'shared/lapse' do
            %div.a
            %div.b
            %div.c
            %div.content
                %h1.text-xl.text-accent= t('common_pages.index.lapse_block.title')
                %p.text-m.stroke= t('common_pages.index.lapse_block.subtitle')
                = shared 'button', { size: 'xs', color: 'lightblue', text: t('common_pages.index.lapse_block.button'), link: new_lifetime_path }

    - unless @top_lifetimes.empty?
        %div.popular-block
            %h1.text-l.stroke.heading= t('.popular_block.heading')
            %div.shared-lifetime-card-container
                - @top_lifetimes.each do |i|
                    = shared 'lifetime_card', { lifetime: i }
            = shared 'footnote', { text: t('.popular_block.footnote'), link: '' }

    %div.about-block
        %div.content
            %h1.text-l.stroke.heading= t('.about_block.heading')
            %p.text-m= t('.about_block.description1')
            %p.text-m= t('.about_block.description2')
            %div.buttons
                = shared 'button', { size: 'xs', color: 'lightblue', text: t('.about_block.create_button'), link: new_lifetime_path }
                = shared 'button', { size: 'xs', color: 'lightblue', hollow: true, text: t('.about_block.login_button'), link: my_profile_path }
        %div.graphics
            = image 'lapse_year.svg'

    %div.subscription-block
        %h1.text-l.stroke.white.heading= t('.subscription_block.heading')
        = shared 'subscription'

    - unless @top_users.empty?
        %div.authors-block
            %h1.text-l.stroke.heading= t('.authors_block.heading')
            %div
                - @top_users.each do |i|
                    = shared 'profile_card', { user: i }
            = shared 'footnote', { text: t('.popular_block.footnote'), link: '' }

