.common-pages-index.container

    %div.lapse-block
        = render layout: 'shared/lapse' do
            %div.a
            %div.b
            %div.c
            %div.content
                %h1.text-xl.text-accent= t('common_pages.index.lapse_block.title')
                %p.text-m.stroke= t('common_pages.index.lapse_block.subtitle')
                = shared 'button', { size: 'xs', color: 'lightblue', text: t('common_pages.index.lapse_block.button'), link: new_lifetime_path }

    %div.popular-block
        %h1.text-l.stroke.heading= t('.popular_block.heading')
        %div.shared-lifetime-card-container
            = shared 'lifetime_card', { title: 'life of my grandad', link: '', asset_1: 'ugc_mock_1.jpg', asset_2: 'ugc_mock_2.jpg', asset_3: '2025', profile_image: 'profile_mock', profile_title: 'Арина Артамонова', profile_subtitle: t('global.subs_count', count: '256') }
            = shared 'lifetime_card', { title: 'life of my grandad', link: '', asset_1: 'ugc_mock_1.jpg', asset_2: 'ugc_mock_2.jpg', asset_3: '2025', profile_image: 'profile_mock', profile_title: 'Арина Артамонова', profile_subtitle: t('global.subs_count', count: '256') }
            = shared 'lifetime_card', { title: 'life of my grandad', link: '', asset_1: 'ugc_mock_1.jpg', asset_2: 'ugc_mock_2.jpg', asset_3: '2025', profile_image: 'profile_mock', profile_title: 'Арина Артамонова', profile_subtitle: t('global.subs_count', count: '256') }
            = shared 'lifetime_card', { title: 'life of my grandad', link: '', asset_1: 'ugc_mock_1.jpg', asset_2: 'ugc_mock_2.jpg', asset_3: '2025', profile_image: 'profile_mock', profile_title: 'Арина Артамонова', profile_subtitle: t('global.subs_count', count: '256') }
            = shared 'lifetime_card', { title: 'life of my grandad', link: '', asset_1: 'ugc_mock_1.jpg', asset_2: 'ugc_mock_2.jpg', asset_3: '2025', profile_image: 'profile_mock', profile_title: 'Арина Артамонова', profile_subtitle: t('global.subs_count', count: '256') }
        = shared 'footnote', { text: t('.popular_block.footnote'), link: '' }

    %div.about-block
        %div.content
            %h1.text-l.stroke.heading= t('.about_block.heading')
            %p.text-m= t('.about_block.description1')
            %p.text-m= t('.about_block.description2')
            %div.buttons
                = shared 'button', { size: 'xs', color: 'lightblue', text: t('.about_block.create_button'), link: new_lifetime_path }
                = shared 'button', { size: 'xs', color: 'lightblue', hollow: true, text: t('.about_block.login_button'), link: new_lifetime_path }
        %div.graphics
            = image 'lapse_year.svg'

    %div.subscription-block
        %h1.text-l.stroke.white.heading= t('.subscription_block.heading')
        = shared 'subscription'

    %div.authors-block
        %h1.text-l.stroke.heading= t('.authors_block.heading')
        %div
            = shared 'profile_card'
            = shared 'profile_card'
            = shared 'profile_card'
            = shared 'profile_card'
            = shared 'profile_card'
            = shared 'profile_card'
        = shared 'footnote', { text: t('.popular_block.footnote'), link: '' }

    %div.tags-block
        %h1.text-l.stroke.heading= t('.tags_block.heading')
        %div
            = shared 'button', { size: 'xs', color: 'lightblue', hollow: true, text: 'log into this thing', link: '' }
            = shared 'button', { size: 'xs', color: 'lightblue', hollow: true, text: 'log into this thing', link: '' }
            = shared 'button', { size: 'xs', color: 'lightblue', hollow: true, text: 'log into this thing', link: '' }
            = shared 'button', { size: 'xs', color: 'lightblue', hollow: true, text: 'log into this thing', link: '' }
            = shared 'button', { size: 'xs', color: 'lightblue', hollow: true, text: 'log into this thing', link: '' }
            = shared 'button', { size: 'xs', color: 'lightblue', hollow: true, text: 'log into this thing', link: '' }
            = shared 'button', { size: 'xs', color: 'lightblue', hollow: true, text: 'log into this thing', link: '' }
            = shared 'button', { size: 'xs', color: 'lightblue', hollow: true, text: 'log into this thing', link: '' }
            = shared 'button', { size: 'xs', color: 'lightblue', hollow: true, text: 'log into this thing', link: '' }
            = shared 'button', { size: 'xs', color: 'lightblue', hollow: true, text: 'log into this thing', link: '' }
            = shared 'button', { size: 'xs', color: 'lightblue', hollow: true, text: 'log into this thing', link: '' }
            = shared 'button', { size: 'xs', color: 'lightblue', hollow: true, text: 'log into this thing', link: '' }
            = shared 'button', { size: 'xs', color: 'lightblue', hollow: true, text: 'log into this thing', link: '' }
        = shared 'footnote', { text: t('.popular_block.footnote'), link: '' }
