%turbo-frame.comments{id: qualify(@lifetime, 'comments')}
    .existing
        - @lifetime.comments.each do |comment|
            %div.comment
                %p.text-s= comment.content
                = shared 'profile_preview', { profile: comment.user }

        = form_with model: [@lifetime, @lifetime.comments.build] do |form|
            = form.text_area :content, class: 'text-s', placeholder: t('lifetimes.comments.leave_comment')
            = shared 'button', { text: t('lifetimes.comments.send'), color: 'lightblue', size: 'xs', hollow: true, form: }

