.lifetimes-single.container
	= form_for @lifetime do |form|
		- if alert
			%h2= alert
		= shared 'editable_text', { tag: 'h2', text: 'Название', enabled: true, form_field: :title, form: }
		= shared 'editable_text', { tag: 'p', text: 'Описание', enabled: true, form_field: :description, form: }

		= shared 'button', { text: 'Далее', form:, size: 'm', html_class: 'edit-button' }
