.container
	= form_for @lifetime, url: single_lifetime_url(id: @lifetime.id, year: @selected_year), html: {class: 'single-lifetime'} do |form|
		= render partial: 'partials/editable_text', locals: { tag: 'h2', text: @lifetime.title, enabled: @editable, form_field: :title, form: }
		= render partial: 'partials/editable_text', locals: { tag: 'p', text: @lifetime.description, enabled: @editable, form_field: :description, form: }

		%div.years
			- @years.each do |year|
				- if year == @selected_year
					%p= year
				- else
					= link_to year, single_lifetime_url(id: @lifetime.id, year: year)

		%div.info
			%div.description

			%div.chart{'data-controller': 'lifetime', 'data-action': 'periodChanged@document->lifetime#handlePeriodChanged', 'data-lifetime-periods': @periods.to_json, 'data-lifetime-selected-year': @selected_year}
				%div
					%canvas{'data-lifetime-target': 'canvas'}

			%div.periods
				%h2 периоды
				- @periods.each do |period|
					= render partial: 'partials/period', locals: { enabled: @editable, period:, form: }

		- if @editable
			= render partial: 'partials/button', locals: { text: 'Сохранить', size: 'm', html_class: 'edit-button', form: }
		- else
			= render partial: 'partials/button', locals: { text: 'Редактировать', link: '?edit=1', size: 'm', html_class: 'edit-button' }
