%turbo-frame.lifetimes-single.container{id: qualify(@lifetime)}
	= form_for @lifetime, url: single_lifetime_url(id: @lifetime.id, year: @selected_year) do |form|
		= form.hidden_field :view_mode, value: @view_mode

		%div.chart-block
			= render layout: 'shared/lapse' do
				- if @view_mode == :donut
					%div.chart{'data-controller': 'lifetime', 'data-action': 'periodChanged@document->lifetime#handlePeriodChanged', 'data-lifetime-periods': @periods.to_json, 'data-lifetime-selected-year': @selected_year}
						%canvas{'data-lifetime-target': 'canvas'}
					= render partial: 'lifetimes/year_switcher'
				- else
					%div.loop

		%div.info-block
			%div.left
				= shared 'editable_text', { html_class: 'text-l stroke', text: @lifetime.title, enabled: @editable, form_field: :title, form: }
				= shared 'editable_text', { html_class: 'text-s description', text: @lifetime.description, enabled: @editable, form_field: :description, form: }
				= shared 'tab_select', { items: [{ label: 'По годам', link: set_param('view-mode', 'donut') }, { label: 'Списком', link: set_param('view-mode', 'list') }] }
			%div.right
				- if @view_mode == :donut
					= render partial: 'lifetimes/periods', locals: { hide_years: true, form: }

		- if @view_mode == :list
			%div.periods-block
				= render partial: 'lifetimes/periods', locals: { form: }

		- if @editable
			= shared 'button', { text: 'Сохранить', form:, size: 'm', html_class: 'edit-button' }
		- elsif @owned
			= shared 'button', { text: 'Редактировать', link: set_param('edit', 1), size: 'm', html_class: 'edit-button' }

	- if @editable
		= shared 'button', { text: 'Удалить', link: single_lifetime_url, method: :delete, size: 'm', html_class: 'edit-button' }

	= render partial: 'lifetimes/likes'
	= render partial: 'lifetimes/comments'
