%turbo-frame.lifetimes-single.container{id: qualify(@lifetime)}
	= notification
	= form_for @lifetime, url: single_lifetime_url(id: @lifetime.id, year: @selected_year) do |form|
		= form.hidden_field :view_mode, value: @view_mode

		%div.chart-block{class: @view_mode}
			= render layout: 'shared/lapse' do
				- if @view_mode == :donut
					%div.chart{'data-controller': 'lifetime', 'data-action': 'periodChanged@document->lifetime#handlePeriodChanged', 'data-lifetime-periods': @periods.to_json, 'data-lifetime-selected-year': @selected_year}
						%canvas{'data-lifetime-target': 'canvas'}
					= render partial: 'lifetimes/year_switcher'
					= render partial: 'lifetimes/labels'
				- if @view_mode == :list || @periods.empty?
					%div.loop

		%div.info-block{class: cn(@view_mode, @lifetime.periods.empty? ? 'empty' : nil)}
			%div.left
				%div.title
					= shared 'editable_text', { html_class: 'text-l stroke', text: @lifetime.title, placeholder: t('lifetimes.single.title_placeholder'), enabled: @editable, form_field: :title, form: }
					- if @lifetime.private?
						= shared 'icon', { name: 'lock' }
				= shared 'editable_text', { html_class: 'text-s description', text: @lifetime.description, placeholder: t('lifetimes.single.description_placeholder'), enabled: @editable, form_field: :description, form: }
				- if @editable
					= shared 'points', { form: form, text_start_point: @lifetime.start_point, text_finish_point: @lifetime.finish_point, }
					
					= shared 'checkbox', { text_unchecked: t('lifetimes.single.make_private'), text_checked: t('lifetimes.single.make_public'), checked: @lifetime.private?, form_field: :private, form: }
				= shared 'tab_select', { items: [{ label: t('lifetimes.single.by_year_tab'), link: set_param('view-mode', 'donut') }, { label: t('lifetimes.single.list_tab'), link: set_param('view-mode', 'list') }] }
				- if @editable
					= shared 'button', { text: t('lifetimes.single.save_changes'), form:, advance: true, size: 'xs' }
				- elsif @owned
					= shared 'button', { text: t('lifetimes.single.edit'), link: set_param('edit', 1), advance: true, size: 'xs' }
			%div.right
				- if @view_mode == :donut
					= render partial: 'lifetimes/periods', locals: { hide_years: true, form: }

		- if @view_mode == :list
			%div.periods-block
				= render partial: 'lifetimes/periods', locals: { form: }

	%div.social-block
		= shared 'profile_preview', { profile: @lifetime.user }
		%div.actions
			= render partial: 'lifetimes/save_button'
			= render partial: 'lifetimes/likes'

	- if @owned && @editable
		%div.actions-block
			= shared 'button', { text: t('lifetimes.single.delete'), link: single_lifetime_url, method: :delete, size: 'xs', color: 'red' }

	- unless @editable
		%div.comments-block
			%h1.text-l.stroke.heading= t('lifetimes.single.comments_heading')
			= render partial: 'lifetimes/comments'
