%turbo-frame.lifetimes-single.container{id: qualify(@lifetime)}
	= notification
	= form_for @lifetime, url: single_lifetime_url(id: @lifetime.id, year: @selected_year) do |form|
		= form.hidden_field :view_mode, value: @view_mode

		%div.chart-block{class: @view_mode}
			= render layout: 'shared/lapse' do
				- if @view_mode == :donut
					%div.chart{'data-controller': 'lifetime', 'data-action': 'periodChanged@document->lifetime#handlePeriodChanged', 'data-lifetime-periods': @periods.to_json, 'data-lifetime-selected-year': @selected_year}
						%canvas{'data-lifetime-target': 'canvas'}
					= render partial: 'lifetimes/year_switcher'
				- if @view_mode == :list || @periods.empty?
					%div.loop

		%div.info-block{class: cn(@view_mode, @lifetime.periods.empty? ? 'empty' : nil)}
			%div.left
				= shared 'editable_text', { html_class: 'text-l stroke', text: @lifetime.title, placeholder: 'Название', enabled: @editable, form_field: :title, form: }
				= shared 'editable_text', { html_class: 'text-s description', text: @lifetime.description, placeholder: 'Описание', enabled: @editable, form_field: :description, form: }
				- if @editable
					= shared 'points', { form: form, text_start_point: @lifetime.start_point, text_finish_point: @lifetime.finish_point, }
				= shared 'tab_select', { items: [{ label: 'По годам', link: set_param('view-mode', 'donut') }, { label: 'Списком', link: set_param('view-mode', 'list') }] }
				- if @editable
					= shared 'button', { text: 'Сохранить изменения', form:, advance: true, size: 'xs' }
				- elsif @owned
					= shared 'button', { text: 'Редактировать', link: set_param('edit', 1), advance: true, size: 'xs' }
			%div.right
				- if @view_mode == :donut
					= render partial: 'lifetimes/periods', locals: { hide_years: true, form: }

		- if @view_mode == :list
			%div.periods-block
				= render partial: 'lifetimes/periods', locals: { form: }

	%div.social-block
		= shared 'profile_preview', { image: 'profile_mock.webp', title: 'Арина Артамонова', subtitle: '256 подписчиков' }
		= render partial: 'lifetimes/likes'

	- if @editable || @owned
		%div.actions-block
			- if @editable
				= shared 'button', { text: 'Удалить Lifetime', link: single_lifetime_url, method: :delete, size: 'xs', color: 'red' }

	%div.comments-block
		%h1.text-l.stroke.heading комментарии
		= render partial: 'lifetimes/comments'
